body{
    color: #72a784;
    font-family: verdana;
    font-size: 12pt;
    background-color:  #c2d6d6;
}
.container {
    position: relative;
    width: 50%;
}
  
.image {
    display: block;
    width: 400;
    height: 300;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100;
    opacity: 0;
    transition: .5s ease;
    background-color: #c82d2d;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.title{
    font-size: 23pt;
    font-family: Verdana;
    text-align: center;
    text-decoration: underline;
}
div.text-box{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 230px;
    border-radius: 10px;
    border: 3px;
    background-color: rgba(97, 89, 89, 0.3);
} 
.nav{
    border:1px solid rgb(0, 0, 0);
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: darkorange;
}
.nav li{
    display:inline;
}
.nav a{
    display: inline-block;
    padding: 8px;
    background-color: darkorange;
}
.main {
    max-width: 1000px;
    margin: auto;
} 
h1 {
    font-size: 60px;
    word-break: break-all;
}  
.row {
    margin: 8px -16px;
}  
.row > .column {
    padding: 8px;
}  
.column {
    float: left;
    width: 25%;
}   
.row:after {
    content: "";
    display: table;
    clear: both;
}  
.content {
    background-color: white;
    padding: 10px;
    
} 
#gordan{
    float: right;
    padding: 10px;  
} 
div.text-box{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 430px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(150, 146, 146, 0.8);
    font-size: 21pt;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.column1{
    float: left;
    width: 100%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
h3{
    text-align: center;}

*{box-sizing: border-box;}
.column2{    
    float: left;
    width: 32%;
    padding: 5px;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
}
