body{
    color: #009933;
    font-family: verdana;
    font-size: 12pt;
    background-color:  #c2d6d6;
}
.container {
    position: relative;
    width: 50%;
}
  
.image {
    display: block;
    width: 400;
    height: 300;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100;
    opacity: 0;
    transition: .5s ease;
    background-color: #c82d2d;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#header-table{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(235, 105, 91);
    border-radius: 8px;
}
#header-tr{
    vertical-align: center;
}
#header-td{
    text-align: center;
    width: 150px;
    background-color: rgb(235, 105, 91);
    padding: 10px;
}
#header-td:hover{
    text-align: center;
    width: 150px;
    background-color: rgb(102, 78, 76);
    padding: 10px;
}

a.active{
    color:#FFFFFF;
    text-align: center;
    text-decoration: none;
}
li.linav a:hover{
    background-color: rgba(0,0,0,0.2);
}
.title{
    font-size: 23pt;
    font-family: Verdana;
    text-align: center;
    text-decoration: underline;
}
div.text-box{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 230px;
    border-radius: 10px;
    border: 3px;
    background-color: rgba(97, 89, 89, 0.3);
}
.main {
    max-width: 1000px;
    margin: auto;
} 
h1 {
    font-size: 60px;
    word-break: break-all;
}  
.row {
    margin: 8px -16px;
}  
.row,
.row > .column {
    padding: 8px;
}  
.column {
    float: left;
    width: 25%;
}   
.row:after {
    content: "";
    display: table;
    clear: both;
}  
.content {
    background-color: white;
    padding: 10px;
    
} 
#gordan{
    float: right;
}
  
