body{
    color: #009933;
    font-family: verdana;
    font-size: 12pt;
    background-color:  #c2d6d6;
}
#header-table{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(235, 105, 91);
    border-radius: 8px;
}
#header-tr{
    vertical-align: center;
}
#header-td{
    text-align: center;
    width: 150px;
    background-color: rgb(235, 105, 91);
    padding: 10px;
}
#header-td:hover{
    text-align: center;
    width: 150px;
    background-color: rgb(102, 78, 76);
    padding: 10px;
}

a.active{
    color:#FFFFFF;
    text-align: center;
    text-decoration: none;
}
li.linav a:hover{
    background-color: rgba(0,0,0,0.2);
}
.title{
    font-size: 23pt;
    font-family: Verdana;
    text-align: center;
}
{
    box-sizing: border-box;
}
  
.column {
    float: left;
    padding: 5px;
}

  .row::after {
    content: "";
    clear: both;
    display: table;
{
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}  
.main {
    max-width: 1000px;
    margin: auto;
} 
h1 {
    font-size: 60px;
    word-break: break-all;
}  
.row {
    margin: 8px -16px;
}  
.row,
.row > .column {
    padding: 8px;
}  
.column {
    float: left;
    width: 25%;
}
    
    
.row:after {
    content: "";
    display: table;
    clear: both;
}
    
    
.content {
    background-color: white;
    padding: 10px;
}  
screen and (max-width: 900px) {
      .column {
        width: 50%;
} 
screen and (max-width: 600px) {
    .column {
    width: 100%;
}
